@page "/maps-features2"
@using System.Collections.ObjectModel
@using Syncfusion.Blazor.Maps


<h2>Blazor - Mendoza Maps</h2>
<br/>
<div id = "ControlRegion" class="center">
<SfMaps Height="600px" Width="1000px" Format="N0" UseGroupingSeparator="true" Theme="Theme.Bootstrap5" Background="transparent">
    <MapsAreaSettings Background="transparent" />
    <MapsBorder Color="black" Width="1"></MapsBorder>
    <MapsMargin Bottom="20" Left="20" Right="20" Top="20"></MapsMargin>
    <MapsLegendSettings Visible="true" Mode="LegendMode.Interactive" Position="LegendPosition.Bottom" Height="10" Width="350" LabelDisplayMode="LabelIntersectAction.Trim" Alignment="Alignment.Center">
        <MapsLegendTextStyle FontFamily="Segoe UI"></MapsLegendTextStyle>
    </MapsLegendSettings>
    <MapsTitleSettings Text="Mendoza Departments" Description="Maps" Alignment="Syncfusion.Blazor.Maps.Alignment.Center">
        <MapsTitleTextStyle Color="Green" FontFamily="Times New Roman" FontWeight="bold">
        </MapsTitleTextStyle>
        <MapsSubtitleSettings Text="Population Range"></MapsSubtitleSettings>
    </MapsTitleSettings><br />
    <MapsLayers>
        <MapsLayer ShapeData="@MapShapeData" ShapePropertyPath="@(new string[] { "departamento" })" ShapeDataPath="departamento" DataSource="datasource" TValue="SelectionData">
            <MapsLayerTooltipSettings Visible="true" ValuePath="poblacion" Format="Departamento: ${departamento} <br> Poblacion: ${poblacion}">
                <MapsLayerTooltipTextStyle FontFamily="Segoe UI"></MapsLayerTooltipTextStyle>
            </MapsLayerTooltipSettings>
            <MapsShapeSettings ColorValuePath='@("poblacion")'>
                    <MapsShapeBorder Color="white" Width="0.5" />
                    <MapsShapeColorMappings>
                        <MapsShapeColorMapping StartRange="10000" EndRange="30000" Color="@ColorMappingColorOne" Label="<30M" />
                        <MapsShapeColorMapping StartRange="30000" EndRange="60000" Color="@ColorMappingColorTwo" Label="30-60M" />
                        <MapsShapeColorMapping StartRange="60000" EndRange="120000" Color="@ColorMappingColorThree" Label="60-120M" />
                        <MapsShapeColorMapping StartRange="120000" EndRange="500000" Color="@ColorMappingColorFour" Label=">150M" />
                    </MapsShapeColorMappings>
                </MapsShapeSettings>
            <MapsDataLabelSettings Visible="true" LabelPath="departamento" SmartLabelMode="SmartLabelMode.Trim" IntersectionAction="IntersectAction.Trim">
                <MapsLayerDataLabelTextStyle FontFamily="Segoe UI" Color="#f0f0f0" FontWeight="bold" Size="7"></MapsLayerDataLabelTextStyle>
            </MapsDataLabelSettings>
        </MapsLayer>
    </MapsLayers>
</SfMaps><br /><br />
    <div class="right">
        Source:
        <a href="https://es.wikipedia.org/wiki/Provincia_de_Mendoza" target="_blank">Mendoza Censo 2010 - Wikipedia</a>
    </div>
</div>
<br/>

<style>
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 250px;
    }
    .center {
        align-content:center;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .right {
        align-content:right;
        margin: auto;
        padding: 10px;
        justify-content: flex-end;
    }
</style>
@code {

    public string[] ColorMappingColorOne = { "#9fdfdf" };
    public string[] ColorMappingColorTwo = { "#53C6C6" };
    public string[] ColorMappingColorThree = { "#339999" };
    public string[] ColorMappingColorFour = { "#2d8686" };


    public MapDataSettings MapShapeData = new MapDataSettings
        {
            async = true,
            dataOptions = "dep_mendoza.json",
            type = "GET"
        };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; } = string.Empty;
        public String type { get; set; } = string.Empty;
    };

    public class SelectionData
    {
        public int id { get; set; }
        public string departamento { get; set; } = string.Empty;
        public string cabecera { get; set; } = string.Empty;
        public int poblacion { get; set; }
        public int superficie { get; set; }
        public double densidad { get; set; }
    }

    public List<SelectionData> datasource = new List<SelectionData> {
        new SelectionData { id=1, departamento="GUAYMALLEN", cabecera="VILLA NUEVA",poblacion=283803, superficie=164, densidad=1730.5 },
        new SelectionData { id=2, departamento="LAS HERAS", cabecera="LAS HERAS",poblacion=203666, superficie=8955, densidad=22.74 },
        new SelectionData { id=3, departamento="GODOY CRUZ", cabecera="GODOY CRUZ",poblacion=191903, superficie=75, densidad=2588.7 },
        new SelectionData { id=4, departamento="SAN RAFAEL", cabecera="SAN RAFAEL",poblacion=188018, superficie=31235, densidad=6.01 },
        new SelectionData { id=5, departamento="MAIPU", cabecera="MAIPU",poblacion=172332, superficie=617, densidad=279.3 },
        new SelectionData { id=6, departamento="LUJAN DE CUYO", cabecera="LUJAN DE CUYO",poblacion=119888, superficie=4847, densidad=24.73 },
        new SelectionData { id=7, departamento="SAN MARTIN", cabecera="SAN MARTIN",poblacion=118220, superficie=1504, densidad=78.6 },
        new SelectionData { id=8, departamento="CAPITAL", cabecera="MENDOZA",poblacion=115041, superficie=54, densidad=2130.4 },
        new SelectionData { id=9, departamento="RIVADAVIA", cabecera="RIVADAVIA",poblacion=56373, superficie=2141, densidad=26.33 },
        new SelectionData { id=10, departamento="TUNUYAN", cabecera="TUNUYAN",poblacion=49458, superficie=3317, densidad=14.91 },
        new SelectionData { id=11, departamento="GENERAL ALVEAR", cabecera="GENERAL ALVEAR",poblacion=46429, superficie=14448, densidad=3.21 },
        new SelectionData { id=12, departamento="JUNIN", cabecera="JUNIN",poblacion=37859, superficie=263, densidad=143.95 },
        new SelectionData { id=13, departamento="LAVALLE", cabecera="VILLA TULUMAYA",poblacion=36738, superficie=10212, densidad=3.6 },
        new SelectionData { id=14, departamento="SAN CARLOS", cabecera="VILLA SAN CARLOS",poblacion=32631, superficie=11578, densidad=2.81 },
        new SelectionData { id=15, departamento="TUPUNGATO", cabecera="TUPUNGATO",poblacion=32524, superficie=2485, densidad=13.08 },
        new SelectionData { id=16, departamento="MALARGUE", cabecera="MALARGUE",poblacion=27660, superficie=41317, densidad=0.66 },
        new SelectionData { id=17, departamento="SANTA ROSA", cabecera="SANTA ROSA",poblacion=16374, superficie=8510, densidad=1.92 },
        new SelectionData { id=18, departamento="LA PAZ", cabecera="LA PAZ",poblacion=10012, superficie=7105, densidad=1.41 }
    };

}